.App {
  text-align: center;
  padding: 20px;
  display: inline;

}



.login{
  padding: 200px;
  display: flex;
}
.rejs{


}
.body{

}
form {
  width: 80%;
  margin: 0 auto;
}

label,
input {
  /* In order to define widths */
  display: inline-block;
}

label {
  width: 30%;
  /* Positions the label text beside the input */
  text-align: right;
}

label+input {
  width: 30%;
  /* Large margin-right to force the next element to the new-line
           and margin-left to create a gutter between the label and input */
  margin: 0 30% 0 4%;
}
.app_body{
    background-color: rgb(255, 255, 255);
    margin-top: -50px;
    height: 90vh;
    width :90vw;

}
.list{
  padding: 10px;

}
.items{
  display: flex;
  justify-content: space-between;
  padding-left: 40px;
  padding: 10px;
  background-color: aqua;
  margin: 5px;
  text-align: center;
}
.items>button{
  padding-left: 10px;
  
}